
/.idea
/build
/dist
__pycache__/func_fparameter.cpython-312.pyc
demo.exe.spec
analysis/__pycache__/engine_analysis.cpython-312.pyc
analysis/__pycache__/engine_analysis.cpython-312.pyc
analysis/__pycache__/engine_analysis.cpython-312.pyc
*.pyc
analysis/__pycache__/engine_analysis.cpython-312.pyc
checkbox_states.json
*.json
*.pyc
*.pyc
*.pyc
*.csv
oldfile/init_flight_parameter.csv
*.xlsx
analysis/__pycache__/cas_analysis.cpython-312.pyc
analysis/__pycache__/engine_analysis.cpython-312.pyc
analysis/__pycache__/engine_analysis.cpython-312.pyc
analysis/__pycache__/cas_analysis.cpython-312.pyc
analysis/__pycache__/cas_analysis.cpython-312.pyc
*.pyc
*.png
